@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import 'https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined';
@import 'https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap';

/* Component Variables */
:root {
  /* Default Text Colors */
  --text-color: black;
  --text-color-alternate: grey;

  /* Specialty Colors */
  --default-color: white;
  --default-color-content: black;
  --default-color-alternate: grey;

  --primary-color: blue;
  --primary-color-content: white;
  --primary-color-alternate: darkblue;

  --accent-color: lightblue;
  --accent-color-content: blue;
  --accent-color-alternate: #46697a;

  --warn-color: red;
  --warn-color-content: yellow;
  --warn-color-alternate: darkred;

  /*
    NOTE: You can add as many specialty color combinations as you desire. Just ensure the variable names are consistent
    with the pattern of --{{your name}}-color, --{{your name}}-color-content, and --{{your name}}-color-alternate. In
    addition, you will also need to create matching CSS selectors to support the new colors. More information can be
    found in the Clinical Office: MPage Developer online documentation.
   */

  /* Colors for context menus, dialogs and select drop-downs */
  --context-background-color: white;
  --context-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
  --context-dialog-border: 1px solid grey;
  --context-dialog-border-radius: 14px;
  --context-hover: grey;

  --field-min-height: 3em;
  --field-background-color: ghostwhite;
  --field-border: unset;
  --field-border-radius: 2px;
  --field-box-shadow: unset;
  --field-required-background-color: rgb(242, 242, 140);
/*  --field-required-border: 1px solid red;
  --field-required-border-radius: 14px;
*/

  --select-search-border: 1px solid black;
  --select-field-max-height: 30vh;
  --co-tree-indent-margin: 15px;
  --co-tree-no-expand-margin: 40px;


  /* General Button Styling */
  --button-min-height: 3em;
  --button-padding: 0 1em;
  --button-border: none;
  --button-border-radius: 5px;
  --button-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  --button-shadow-alternate: 0 0 8px rgba(0, 0, 0, 0.3);
  --button-stroke: 2px solid black;
  --button-stroke-alternate: 4px solid white;

  /* MPage Scrollbar colors */
  --mpage-scrollbar-track: white;
  --mpage-scrollbar-color: grey;
  --mpage-scrollbar-border: 1px solid grey;
  --mpage-scrollbar-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);

  /* MPage Table colors */
  --mpage-table-header-height: 40px;
  --mpage-table-header-background-color: #cacacc;;
  --mpage-table-row-height: 36px;
  --mpage-table-background-color: ghostwhite;
  --mpage-table-cell-border: 1px solid grey;
  --mpage-table-sort-arrow-color: grey;
  --mpage-table-filter-background-color: lightsteelblue;
  --mpage-table-toolbar-background-color: lightsteelblue;
  --mpage-table-toolbar-border-radius: 0;
  --mpage-table-toolbar-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  --mpage-table-toolbar-icon-color: black;
  --mpage-table-toolbar-padding: 8px;
  --mpage-table-toolbar-drag-background: lightsteelblue;
  --mpage-table-toolbar-drag-padding: 8px;
  --mpage-table-toolbar-drag-border: unset;
  --mpage-table-toolbar-drag-border-alternate: 2px solid;
  --mpage-table-toolbar-drag-border-radius: 8px;
  --mpage-table-empty-space-background: repeating-linear-gradient(
      -30deg,
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.1) 2px,
      rgba(0, 0, 0, 0.2) 6px,
      rgba(0, 0, 0, 0.2) 8px
  );

  /* General Application Font/Page Settings */
  box-sizing: border-box;

  font-family: 'Roboto Condensed', sans-serif;
  font-size: medium;
  color: var(--text-color);
  margin: 0;

}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  padding: 0;
  margin: 0;
}

/* Custom Styles for this Page */

h3 {
  margin-bottom: 0.25rem;
}

pre {
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  background-color: black;
  color: greenyellow;
  font-size: 16px;
  padding: 1rem;
  margin: 0;
  text-wrap: wrap;
}

.field-type-container {
  display: flex;

  .co-field-label {
    font-weight: bold;
    color: white;
    background-color: steelblue;
    font-size: large !important;
    margin: 0 !important;
    padding: 0.2em;
  }

  .co-field-content {
    margin: 0 !important;
    padding: 0.5em;
    background-color: lightsteelblue;
    font-size: large;
  }

}

.side-menu {
  width: 350px;
  background-color: lightsteelblue;
  text-align: center;
}

.content-panel {
  background-color: white;
  width: 100%;
  flex: 0 1 auto;
  max-width: inherit;
  overflow-x: auto;
}

.side-menu, .content-panel {
  border: 1px solid grey;
  border-radius: 0.5rem;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  margin: 0.25rem;
  padding: 0.5rem;
}

.small {
  width: 6rem;
}

.medium {
  width: 20rem !important;
}

.large {
  width: 40rem !important;;
}

.slider {
  min-width: 50rem !important;
}

.warn-class {
  background-color: yellow !important;
}

.error-class {
  background-color: #f37979 !important;
  width: 500px !important;
}

.info-hover:hover {
  cursor: help;
}

.checkbox-pair {
  border: 1px solid grey;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin: 0.25rem;
}

.alternate-table {
  th {
    background-color: lightsteelblue;
    font-size: xx-large;
  }
}
